.destaques {
	background-color: var(--azul-claro);
	padding-top: 2.5rem;
	padding-bottom: 2rem;
}

.destaques__titulo {
	color: var(--cinza-escuro);
	font-weight: 700;
	font-size: 1.5rem;
	font-family: var(--montserrat);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.destaques_painel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.destaques__painel-imagem {
	width: 100vw;
	max-width: 600px;
	box-shadow: 0px 2px 10px 5px black 20;
	margin-bottom: .5rem;
}

.destaques__painel-imagem {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: normal;
}


.destaques__botao{
	color: var(--vermelho-forte);
	border-color: var(--vermelho-forte);
	margin: 0 auto;
}