.botao {
    background-color: var(--amarelo);
    text-align: center;
    font-family: inherit;
    font-weight: var(--peso-botao);
    color: var(--branco);
    width: 100%;
    padding: 1.75rem 0;
    box-shadow: 10px 10px 30px var(--amarelo-transparente);
    border: none;
}

.botao--alternativo { 
    color: var(--amarelo);
    background-color: unset;
    box-shadow: none;
    border: 1px solid var(--amarelo);
}