/* Reaproveite melhor os alimentos! */
.banner__titulo {
    color: #FDFDFD;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 5.0625rem;
    }
}